
.main_item{
    position: relative;
    background-color: rgb(0, 0, 0);
}

.main_text{
    position: absolute;
    bottom: 35%; 
    width: 100vw;
    text-align: center
}

.main_item img{
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 812px;
    opacity: 0.7;
}

.main_item h1{
    display: flex;
    padding-top: 290px;
    justify-content: center;
    font-size: 60px;
    color: #ffffff;
}

.main_item p{
    font-size: 20px;
    color: #ffffff;
    display: flex;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    line-height: 30px;

}

.main_button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 35%;
}

.main_button1{
    margin-top: 40px;
    padding: 13px 35px;
    border-radius: 30px;
    background-color: black;
    color: white;
    transition: .4s;
}

.main_button1 a{
    color: #ffffff;
}

.main_button1:hover{
    background-color: #3dde50;
}

.main_button2{
    margin-top: 40px;
    padding: 13px 35px;
    border-radius: 30px;
    background-color: #3dde50;
    color: #ffffff;
    transition: .4s;
}

.main_button2 a{
    color: #ffffff;
}

.main_button2:hover{
    background-color: black;
}




@media(max-width:330px){
    
    .main_item h1{
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
    .main_item img{
        height: 550px;
        margin: 0;
        padding: 0;
    }
    .main_button{
        display: flex;
        flex-direction: column;
    }
    .main_text{
        top: 60px;
    }
}